.banner-sec{
	padding:0 0 40px; margin-bottom:40px; border-bottom:solid 1px #ccc;
	.pl0{padding-left:0;}
	.l-article{
		h3{margin:0 0 10px; padding:0; text-transform:uppercase; font-size:14px; font-family:$open-sans-bold; color:#222935;}
	}
	.right-box{
		.featured-s{width:100%; float:left;
			li{width:100%; float:left; margin:0 0 18px;
				a{
					width:100%; float:left; padding:6px; text-decoration:none; border-left:5px solid #f1f1f1;
					.icon-img{width:80px; float:left; margin:0 15px 0 0;}
					h3{margin:5px 0 0; padding:0; font-size:14px; font-family:$open-sans-bold; color:#222935; overflow:hidden;
						small{font-size:12px; color:#929292; display:block; padding-top:8px; font-family:$open-sans-regular;}	
					}
					&:hover{background:#f1f1f1;}
				}
			}
		}
	}
}