body{margin:0; padding:0; font-family:$open-sans-regular; font-size:16px;}
h1, h2, h3, h4, h5, h6 {margin: 0;padding: 0;}
ul, li {margin: 0;padding: 0;list-style: none;}
a{text-decoration:none;}
.mt15{margin-top:15px;}
.mt30{margin-top:30px;}
.mtb15{margin-top:15px; margin-bottom:15px;}
.mb0{margin-bottom:0 !important;}
.mb15{margin-bottom:15px;}
.mb30{margin-bottom:30px;}
.mt50{margin-top:50px;}
.mt85{margin-top:85px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px;}
.pr33{padding-right:33px;}
.pb0{padding-bottom:0 !important;}
.plr0{padding-left:0; padding-right:0;}
.pr10{padding-right:0;}
.pl0{padding-left:0;}
.pt0{padding-top:0 !important;}