/*OPEN SANS*/
@font-face {
	font-family: 'Open Sans Regular';
	src: url('../fonts/open-sans/regular/OpenSans-Regular.eot');
	src: url('../fonts/open-sans/regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/regular/OpenSans-Regular.woff') format('woff'),
		 url('../fonts/open-sans/regular/OpenSans-Regular.ttf') format('truetype'),
		 url('../fonts/open-sans/regular/OpenSans-Regular.svg#FontName') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans Semibold';
	src: url('../fonts/open-sans/semibold/OpenSans-Semibold.eot');
	src: url('../fonts/open-sans/semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/semibold/OpenSans-Semibold.woff') format('woff'),
		 url('../fonts/open-sans/semibold/OpenSans-Semibold.ttf') format('truetype'),
		 url('../fonts/open-sans/semibold/OpenSans-Semibold.svg#FontName') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans Bold';
	src: url('../fonts/open-sans/bold/OpenSans-Bold.eot');
	src: url('../fonts/open-sans/bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/bold/OpenSans-Bold.woff') format('woff'),
		 url('../fonts/open-sans/bold/OpenSans-Bold.ttf') format('truetype'),
		 url('../fonts/open-sans/bold/OpenSans-Bold.svg#FontName') format('svg');
	font-style: normal;
	font-weight: normal;
}


/*squ721rm*/
@font-face {
	font-family: 'square721bt roman';
	src: url('../fonts/squ721rm/squ721rm.eot');
	src: url('../fonts/squ721rm/squ721rm.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/squ721rm/squ721rm.woff') format('woff'),
		 url('../fonts/squ721rm/squ721rm.ttf') format('truetype'),
		 url('../fonts/squ721rm/squ721rm.svg#FontName') format('svg');
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: 'square721bt bold';
	src: url('../fonts/squ721rm-bold/ufonts.com_square-721-bold.eot');
	src: url('../fonts/squ721rm-bold/ufonts.com_square-721-bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/squ721rm-bold/ufonts.com_square-721-bold.woff') format('woff'),
		 url('../fonts/squ721rm-bold/ufonts.com_square-721-bold.ttf') format('truetype'),
		 url('../fonts/squ721rm-bold/ufonts.com_square-721-bold.svg#FontName') format('svg');
	font-style: normal;
	font-weight: normal;
}
