/*-----FONT FAMILY-----*/
$open-sans-regular 	: 	Open Sans Regular;
$open-sans-sbold 	:	Open Sans Semibold;
$open-sans-bold 	:	Open Sans Bold;
$squ721rm 	:	square721bt roman;
$squ721-bold 	:	square721bt bold;



/*-----FONT SIZE-----*/
$fs-14 	: 		14px;
$fs-16 	: 		16px;
$fs-18 	: 		18px;
$fs-20 	: 		20px;

/********** FONT WEIGHT **********/
$font-light:         300;
$font-regular:       400;
$font-semi-bold:     600;
$font-bold:          700;
$font-extra-bold:    800;